<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ホーム</title>
</head>
<body>
    <h1>ホームページ<%= 'hello world'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit autem reiciendis dolorem fuga deleniti minus, nulla ea! Eligendi qui perspiciatis labore, consectetur porro nisi fugit delectus maiores illum dolorem tempora.
    Excepturi, aliquam. Architecto non, cupiditate illum dolorum ex ullam id sunt quidem enim, iure vitae! Accusamus ex molestiae molestias quisquam possimus consequuntur deleniti unde, amet eveniet tempora eligendi veniam deserunt?</p>
</body>
</html>